$main-yellow: #ffab00;

body,
html {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #F6E8EA;
}

main {
    flex: 1 0 auto;
}

// ? Side nav styling
#diy-side {
    p {
        font-size: 1.2rem;
        text-shadow: 2px 1px 2px #3a3a3a;
    }
}

//? Font page styling

.front-page-container {
    .hoverable:hover {
        box-shadow: 0 8px 17px 0 #26323833, 0 6px 20px 0 #26323833;
    }

    .card {
        .card-title {
            background: $main-yellow;
            background: linear-gradient(90deg, rgba(255, 171, 0, 1) 25%, rgba(255, 171, 0, 0.2553396358543417) 100%);
        }
    }
}

.front-page-header {
    padding: 50px 0px 100px 0px;
    // background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    background-image: linear-gradient(135deg, #FD6E6A 10%, #FFC600 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 85%);
}

.pagination {

    li.active {
        background-color: $main-yellow;
    }
}

//? Front page loader styling
.loader {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

//? Input styles

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid $main-yellow;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: $main-yellow;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
input[type=option]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $main-yellow;
    -webkit-box-shadow: 0 1px 0 0 $main-yellow;
    box-shadow: 0 1px 0 0 $main-yellow;

    +label {
        color: $main-yellow;
    }
}

.select-wrapper {
    input.select-dropdown:focus {
        border-bottom: 1px solid $main-yellow;
        -webkit-box-shadow: 0 1px 0 0 $main-yellow;
        box-shadow: 0 1px 0 0 $main-yellow;
    }
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: $main-yellow;
}

.input-field {
    .prefix.active {
        color: $main-yellow;
    }

    label {
        color: black;
    }
}


//? Login and signup page styles

.account-form {
    background: rgba(255, 255, 255, 0.384);

    label {
        color: black;
    }
}

// ? Masonary Grid styling
.grid-sizer,
.grid-item {
    width: 33%;
}

@media screen and (max-width: 991px) {

    .grid-sizer,
    .grid-item {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {

    .grid-sizer,
    .grid-item {
        width: 100%;
    }
}