body,
html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F6E8EA;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

#diy-side p {
  font-size: 1.2rem;
  text-shadow: 2px 1px 2px #3a3a3a;
}

.front-page-container .hoverable:hover {
  -webkit-box-shadow: 0 8px 17px 0 #26323833, 0 6px 20px 0 #26323833;
          box-shadow: 0 8px 17px 0 #26323833, 0 6px 20px 0 #26323833;
}

.front-page-container .card .card-title {
  background: #ffab00;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #ffab00), to(rgba(255, 171, 0, 0.25534)));
  background: linear-gradient(90deg, #ffab00 25%, rgba(255, 171, 0, 0.25534) 100%);
}

.front-page-header {
  padding: 50px 0px 100px 0px;
  background-image: linear-gradient(135deg, #FD6E6A 10%, #FFC600 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 85%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 85%);
}

.pagination li.active {
  background-color: #ffab00;
}

.loader {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #ffab00;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #ffab00;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
input[type=option]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffab00;
  -webkit-box-shadow: 0 1px 0 0 #ffab00;
  box-shadow: 0 1px 0 0 #ffab00;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
input[type=option]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #ffab00;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #ffab00;
  -webkit-box-shadow: 0 1px 0 0 #ffab00;
  box-shadow: 0 1px 0 0 #ffab00;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: #ffab00;
}

.input-field .prefix.active {
  color: #ffab00;
}

.input-field label {
  color: black;
}

.account-form {
  background: rgba(255, 255, 255, 0.384);
}

.account-form label {
  color: black;
}

.grid-sizer,
.grid-item {
  width: 33%;
}

@media screen and (max-width: 991px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */