{% extends 'base.html' %}
{% block content %}

<div class="row front-page-header white">
    <div class="container">
        <div class="row">
            <div class="col s12 center-align white-text">
                <h2>About</h2>
                <p>Thanks for having a look around!</p>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row front-page-container">
        <div class="row">
            <div class="col s12">
                <h3>What the heck is this site for?!?</h3>

                <p>The real world use of this site is a place for all creative types to come and share step by step guides to
                    greating exciting things! Be that a project for the home, or someting to better themselves.</p>

                <p>This website, was created by Samuel Watson for a project set by Code Institute.
                    The Task is to create a Create Read Update Delete (CRUD) application in Flask, a Python
                    micro-framework. <br />
                    Its been a real treat!
                </p>

            </div>
        </div>
    </div>
</div>
{% endblock %}