{% extends 'base.html' %}
{% block content %}

<h3>Add a project</h3>

<div class="row">
    <form action="{{ url_for('insert_project') }}" method="POST" class="col s12" enctype="multipart/form-data">
        <div class="row">
            <div class="s12">
                <h4>Hi {{ name.username }}! We cannot wait to see what you've made!</h4>
            </div>

            <div class="input-field col s4">
                <i class="material-icons prefix">account_box</i>
                <input id="creator" name="creator" type="text" class="validate" value="{{ name.username }}" required>
                <label for="creator">Creator's name(You)</label>
            </div>

            <div class="input-field col s12 m4">
                <i class="material-icons prefix">title</i>
                <input id="title" name="title" type="text" class="validate" required>
                <label for="title">Project name</label>
            </div>

            <div class="input-field col s12 m4">
                <i class="material-icons prefix">view_list</i>
                <select id="category" name="category" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for cat in category %}
                    <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                    {% endfor %}
                </select>
                <label for="category">Task Category</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="description" id="description" class="materialize-textarea" rows="10"
                    required></textarea>
                <label for="description">Description of project</label>
            </div>
        </div>

        <div class="row">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="row red lighten-2">
                <p>
                    {{ message }}
                </p>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="file-field input-field">
                <div class="btn green lighten-1">
                    <span>File</span>
                    <input type="file" id="project_image" name="project_image" required>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" id="project_image_name" name="project_image_name"
                        placeholder="Upload finished project image">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m3">
                <p>
                    <label>
                        <input name="experience" type="radio" value="Beginner" checked />
                        <span>Beginner</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="experience" type="radio" value="Intermediate" />
                        <span>Intermediate</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="experience" type="radio" value="Advance" />
                        <span>Advance</span>
                    </label>
                </p>
            </div>

            <div class="input-field col s12 m9">
                <i class="material-icons prefix">build</i>
                <div class="chips"><input name="materials" id="materials"></div>
            </div>
        </div>
</div>

<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">linear_scale</i>
        <textarea name="steps" id="steps" class="materialize-textarea" rows="10" required></textarea>
        <label for="steps">Steps to make project</label>
    </div>
</div>


<!--TODO: Add functionality to dynamically add another input. May have to change to WTForms-->

<div class="row">
    <button class="btn waves-effect waves-light green lighten-1" type="submit" name="action">Add Task
        <i class="material-icons right">add</i>
    </button>
</div>
</form>
</div>

{% endblock %}