<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} - DIY Collections</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper blue-grey darken-4">
                <a href="{{ url_for('get_projects') }}" class="brand-logo center"><i
                        class="material-icons">build</i>D-I-Y</a>

                <a href="#" data-target="diy-side" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                {% if current_user.is_authenticated %}
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('add_project') }}">Submit Project</a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('view_profile', user_id=name._id) }}"><i
                                class="material-icons left">person</i>{{name.username}}</a>
                    </li>
                </ul>
                {% else %}
                <ul class=" right hide-on-med-and-down">
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('signup') }}">Sign Up!</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>

        {% if current_user.is_authenticated %}
        <ul class="sidenav" id="diy-side">
            <a>
                <div class="user-view">
                    <div class="background">
                        <img src="https://placeimg.com/500/500/any">
                    </div>
                    <p class="white-text name">{{name.username}}</p>
                    <p class="white-text email">{{name.email}}</p>
                </div>
            </a>
            <li><a href=" {{ url_for('add_project') }}">Submit Project</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>

        {% else %}
        <ul class="sidenav" id="diy-side">
            <div class="user-view">
                <div class="background">
                    <img src="https://placeimg.com/500/500/any">
                </div>
                <p>Hello... Shall we get you signed up?</p>
            </div>
            <li><a href=" {{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up!</a></li>
        </ul>
        {% endif %}
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer class="page-footer amber accent-4 black-text">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5>What the heck is this site for?!?</h5>
                    <p>This website, webapp, was created by Samuel Watson for a project set by Code Institute.
                        The Task is to create a Create Read Update Delete (CRUD) application in Flask, a Python
                        micro-framework. <br />
                        Its been a real treat!
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="black-text">Look around</h5>
                    <ul>
                        <li><a class="black-text lighten-1" href="#!">Link 1</a></li>
                        <li><a class="black-text lighten-1" href="#!">Link 2</a></li>
                        <li><a class="black-text lighten-1" href="#!">Link 3</a></li>
                        <li><a class="black-text lighten-1" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright black-text">
            <div class="container">
                © 2019 D-I-Y
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            M.AutoInit();
        });
    </script>

    <script src="../static/js/app.js"></script>
</body>

</html>