{% extends 'base.html' %}
{% block content %}

<h3>Edit Project</h3>

<div class="row">
    <form action="{{ url_for('update_projects', projects_id=projects._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">title</i>
                <input id="title" name="title" type="text" class="validate" value="{{projects.title}}">
                <label for="icon_prefix">{{projects.title}}</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix">view_list</i>
                <select id="category" name="category">
                    <option value="{{projects.category_name}}" disabled selected>{{projects.category}}</option>
                    {% for cat in category %}
                    <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                    {% endfor %}
                </select>
                <label>Task Category</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="description" id="description" class="materialize-textarea"
                    value="{{projects.description}}">{{projects.description}}</textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">build</i>
                <div class="chips chips-placeholder">{{projects.materials}}</div>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">linear_scale</i>
                <textarea name="steps" id="steps" class="materialize-textarea" rows="10"
                    value="{{projects.steps}}">{{projects.steps}}</textarea>
                <label for="icon_telephone">Steps to make project</label>
            </div>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Save Changes
                <i class="material-icons right">save</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}