{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row page-header white">
        <div class="row">
            <div class="col s12 center-align white-text">
                <h3>Edit your project</h3>

                <div class="s12">
                    <h4>So {{ name.username }}, its time to make some changes?</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <form action="{{ url_for('update_projects', projects_id=projects._id) }}" method="POST" class="col s12"
            enctype="multipart/form-data">
            <div class="row">
                <div class="col s12 l8">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12 m6 input-field">
                                    <i class="material-icons prefix">title</i>
                                    <input id="title" name="title" type="text" class="validate" value="{{projects.title}}"
                                        required>
                                    <label for="title">{{projects.title}}</label>
                                </div>

                                <div class="col s12 m6 input-field">
                                    <i class="material-icons prefix">view_list</i>
                                    <select id="category" name="category" required>
                                        <option value="{{projects.category}}" selected>{{projects.category}}
                                        </option>
                                        {% for cat in category %}
                                        <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="category">Task Category</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">subject</i>
                                    <textarea name="description" id="description" class="materialize-textarea" rows="10"
                                        value="{{projects.description}}" required>{{projects.description}}</textarea>
                                    <label for="description">Description of project</label>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col s6 m4">
                                    <img class="responsive-img z-depth-1"
                                        src="{{url_for('file', filename=projects['project_image_name'])}}"
                                        alt="{{projects.project_image_name}}" width="300">
                                </div>

                                <div class="col s6 m8">
                                    <a href="{{url_for('edit_image', projects_id=projects._id)}}"
                                        class="btn waves-effect waves-light amber accent-4" name="action">Change image
                                        <i class="material-icons right">cloud_upload</i>
                                    </a>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <p>
                                        <label>
                                            {% if projects.experience == "Beginner" %}
                                            <input class="with-gap" name="experience" type="radio" value="Beginner"
                                                checked />
                                            {% else %}
                                            <input class="with-gap" name="experience" type="radio" value="Beginner" />
                                            {% endif %}
                                            <span>Beginner</span>
                                        </label>
                                    </p>

                                    <p>
                                        <label>
                                            {% if projects.experience == "Intermediate" %}
                                            <input class="with-gap" name="experience" type="radio" value="Intermediate"
                                                checked />
                                            {% else %}
                                            <input class="with-gap" name="experience" type="radio" value="Intermediate" />
                                            {% endif %}
                                            <span>Intermediate</span>
                                        </label>
                                    </p>

                                    <p>
                                        <label>
                                            {% if projects.experience == "Advance" %}
                                            <input class="with-gap" name="experience" type="radio" value="Advance" checked />
                                            {% else %}
                                            <input class="with-gap" name="experience" type="radio" value="Advance" />
                                            {% endif %}
                                            <span>Advance</span>
                                        </label>
                                    </p>
                                </div>
                            </div>

                            <div class="row" id="stepsInput">
                                {% for key, value in projects.steps.items() %}
                                <p>Step {{ loop.index }}</p>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">linear_scale</i>
                                    <textarea name="{{ key }}" id="step" class="materialize-textarea" value="{{ value }}"
                                        required>{{value}}</textarea>
                                    <label for="step">Steps</label>
                                </div>
                                {% endfor %}
                            </div>

                            <div class="row">
                                <div class="col">
                                    <a class="btn waves-effect waves-light amber accent-4" name="add_step"
                                        onclick="addStep('stepsInput')">Add
                                        Step
                                        <i class="material-icons right">add</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col s12 l4">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">account_box</i>
                                    <input id="creator" name="creator" type="text" class="validate"
                                        value="{{ name.username }}" required readonly>
                                    <label for="creator">Creator's name(You)</label>
                                </div>
                            </div>

                            <div class="row" id="materialsInput">
                                {% for key, value in projects.materials.items() %}
                                <p>Material {{ loop.index }}</p>
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">linear_scale</i>
                                    <textarea name="{{ key }}" id="material" class="materialize-textarea" value="{{ value }}"
                                        required>{{value}}</textarea>
                                    <label for="material">Materials</label>
                                </div>
                                {% endfor %}
                            </div>

                            <div class="row">
                                <a class="btn waves-effect waves-light amber accent-4" name="add_material"
                                    onclick="addMaterial('materialsInput')">Add
                                    Material
                                    <i class="material-icons right">add</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light amber accent-4" type="submit" name="action">Save
                            <i class="material-icons right">save</i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}