{% extends 'base.html' %}
{% block content %}

<h3>Edit your project</h3>

<div class="row">
    <form action="{{ url_for('update_projects', projects_id=projects._id) }}" method="POST" class="col s12"
        enctype="multipart/form-data">
        <div class="row">
            <div class="s12">
                <h3>So {{ name.username }}, its time to make some changes?</h3>
            </div>

            <div class="input-field col s4">
                <i class="material-icons prefix">account_box</i>
                <input id="creator" name="creator" type="text" class="validate" value="{{ name.username }}" required>
                <label for="icon_prefix">{{projects.creator}}</label>
            </div>

            <div class="input-field col s12 m4">
                <i class="material-icons prefix">title</i>
                <input id="title" name="title" type="text" class="validate" value="{{projects.title}}" required>
                <label for="icon_prefix">{{projects.title}}</label>
            </div>

            <div class="input-field col s12 m4">
                <i class="material-icons prefix">view_list</i>
                <select id="category" name="category" required>
                    <option value="{{projects.category}}" selected>{{projects.category}}</option>
                    {% for cat in category %}
                    <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                    {% endfor %}
                </select>
                <label>Task Category</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="description" id="description" class="materialize-textarea"
                    value="{{projects.description}}">Project Description</textarea>
            </div>
        </div>

        <div class="row">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="row red lighten-2">
                <p>
                    {{ message }}
                </p>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file" id="project_image" name="project_image" required>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" id="project_image_name" name="project_image_name"
                        value="{{projects.project_image_name}}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m3">
                <p>
                    <label>
                        <input name="experience" type="radio" checked />
                        <span>Beginner</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="experience" type="radio" />
                        <span>Intermediate</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="experience" type="radio" />
                        <span>Advance</span>
                    </label>
                </p>
            </div>

            <div class="input-field col s12 m9">
                <i class="material-icons prefix">build</i>
                <div class="chips chips-placeholder"></div>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">linear_scale</i>
                <textarea name="steps" id="steps" class="materialize-textarea" value="{{projects.steps}}"
                    required>{{projects.steps}}</textarea>
                <label for="linear_scale">Steps</label>
            </div>
        </div>

        <!--TODO: Add functionality to dynamically add another input. May have to change to WTForms-->

        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add Task
                <i class="material-icons right">add</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}