{% extends 'base.html' %}
{% import "material/utils.html" as util %}
{% import "material/wtf.html" as wtf %}
{% block content %}

<style>
    body {
        min-height: 100vh;
        background: rgb(232, 211, 184);
        background: linear-gradient(0deg, rgba(232, 211, 184, 1) 0%, rgba(185, 223, 211, 1) 100%);
    }
</style>

<div class="row">
    <div class="col s12 l6 offset-l3 center-align">
        <div class="card account-form">
            <div class="card-content">
                <span class="card-title">Sign in to share your creativity!</span>
                <p>We can't wait to see your creativity &#128374;</p>

                <form method="POST" action="/login">
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            {% for message in messages %}
                            <div class="row white-text red darken-1">
                                <div class="col center-align">
                                    <p>{{ message }}</p>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                            <!-- <input id="username" name="username" type="text" class="validate" required>
                        <label class="active" for="username">Enter Your Username</label> -->
                            {{ form.hidden_tag() }}
                            {{ wtf.form_field(form.username) }}
                            {{ wtf.form_field(form.password) }}
                            {{ wtf.form_field(form.remember) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="s-12">
                            <button class="waves-effect waves-light btn-large amber accent-4" type="submit"
                                name="submit">Log
                                In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}