{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="s12 m12">
        <h2>The home of all things DIY {{ username }}!</h2>

        <h5>Find projects to help improve you home, garden or even yourself!</h5>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row  light-green darken-1">
        <div class="col">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="col s12 m8 l10">
        {% for project in projects %}
        <div class="col s12 m6 l4">
            <div class="card hoverable">
                <div class="card-image">
                    <a href="{{url_for('view_project', projects_id=project._id)}}">
                        <img src="{{url_for('file', filename=project['project_image_name'])}}"
                            alt="{{project.project_image_name}}">
                    </a>

                    <span class="card-title">{{project.title}}</span>
                </div>

                <div class="card-content">
                    <p>
                        <strong>{{project.category}} - {{project.experience}}</strong>
                        <br>
                        {{project.description|truncate(50, true)}}
                        <br>
                    </p>
                </div>

                <div class="card-action center-align">
                    <a href="{{url_for('view_project', projects_id=project._id)}}"
                        class="waves-effect waves-light btn-small">Give it a try</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col m12">
        {{ pagination.info }}
        {{ pagination.links }}
    </div>
</div>
{% endblock %}